body {
  margin: 0;
  font-family: Time New Roman, 微軟正黑體;
  --bgColor: #424242;
  --fontColor: #ddd;
}

table {
  border-collapse: separate;
  color: var(--fontColor);
}

table th,
table td {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #666;
  padding: 0.5em;
  text-align: center;
  white-space: pre-wrap;
  text-align: center;
}

.src {
  text-align: center;
  text-decoration: none;
  color: #ddd;
}

.src img{
  max-width: 15px;
  margin-bottom: -2px;
  border-radius: 9%;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-image {
  display: none;
  position: absolute;
  top: -10px;
  left: 100%;
  z-index: 10;
  width: 200px;
}

.tooltip-container:hover .tooltip-image {
  display: block;
}